*.bak
*.dll
*.lnk
MultiPoolMiner/Bin
MultiPoolMiner/Dev
MultiPoolMiner/Downloads
MultiPoolMiner/Logs
MultiPoolMiner/Stats
MultiPoolMiner/Config.txt
MultiPoolMiner/ConfigHWiNFO64.odt
MultiPoolMiner/MPM_SnakeTail_LogReader.xml
MultiPoolMiner/SnakeTail.exe
MultiPoolMiner/_config.yml
MultiPoolMiner/.vscode
