MultiPoolMiner/*.dll
MultiPoolMiner/Config.txt
MultiPoolMiner/Logs
MultiPoolMiner/Stats
MultiPoolMiner/Bin
MultiPoolMiner/Downloads
MultiPoolMiner/Config.txt
MultiPoolMiner/MPM_SnakeTail_LogReader.xml
MultiPoolMiner/SnakeTail.exe
ChangeLog.txt
MultiPoolMiner/_config.yml
*.bak
MultiPoolMiner/allminers.json
MultiPoolMiner/_web
MultiPoolMiner/.vscode/launch.json
