*.bak
*.dll
*.lnk
MultiPoolMiner/_web
MultiPoolMiner/Bin
MultiPoolMiner/Debug
MultiPoolMiner/Downloads
MultiPoolMiner/Logs
MultiPoolMiner/Stats
MultiPoolMiner/Config.txt
MultiPoolMiner/MPM_SnakeTail_LogReader.xml
MultiPoolMiner/SnakeTail.exe
MultiPoolMiner/_config.yml
MultiPoolMiner/.vscode
